<div class="card">
    {{> ../../shared/cardheader}}
    <div class="card-body">
        <h3 class="card-title">Search Contract Rental Payments</h3>
        <div class="table-responsive">
            <table id="contractRentalsTable" class="display" style="width:100%; font-size: 0.72em">
                <thead>
                    <tr>
                        <th></th>
                        <th>Contract</th>
                        <th>Tract</th>
                        <th>Payment</th>
                        <th>Payment Entry Date</th>
                        <th>Check</th>
                        <th>Check Date</th>
                        <th>Lessee</th>
                        <th>Year</th>
                        <th>Period</th>
                        <th>Held By Prod</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>