<div class="card">
    {{> ../../shared/cardheader}}
    <div class="card-body">
        <h3 class="card-title">Search Checks</h3>
        <table id="checksTable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Check Number</th>
                    <th>Company</th>
                    <th>Total Amount</th>
                    <th>Received Date</th>
                    <th>Check Date</th>
                </tr>
            </thead>
        </table>
    </div>
</div>