
<span class="h5 text-center text-lg-left mt-4 mb-0 ">{{this}}</span>
<button class="btn btn-secondary btn-sm float-right" id="addContactBtn"><i class="fas fa-user-plus pr-1"></i>Add Contact</button>
<table id="contactTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Name</th>
            <th>Title</th>
            <th>Address</th>
            <th>Phone / Fax</th>
            <th>Email</th>
        </tr>
    </thead>
</table>