<span class="h5 text-center text-lg-left mt-4 mb-0 ">{{this.lessee.lesseeName}}</span>
<div id="historyFormContainer"></div>
<caption>Historical Records</caption>
<table id="lesseeHistoryTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
        </tr>
    </thead>
</table>

