<table id="lesseeTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Lessee</th>
        </tr>
    </thead>
</table>