<div class="card">
    {{> ../../shared/cardheader}}
    <div class="card-body">
        <h3 class="card-title">Search Units</h3>
        <table id="unitsTable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Name</th>
                    <th>DPU Acreage</th>
                    <th> CoPA Acreage</th>
                    <th>Tract</th>
                    <th>Wells <i><small>List of Well Name(Api Num)</small></i></th>
                    <th>Num of Wells</th>
                </tr>
            </thead>
        </table>
    </div>
</div>