<div class="card">
    {{> ../../shared/cardheader}}
    <div class="card-body">
        <h3 class="card-title">Search Wells</h3>
        <table id="wellsTable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Name</th>
                    <th>Api</th>
                    <th>Tract</th>
                    <th>Operator</th>
                    <th>Status</th>
                    <th>Alt Id</th>
                </tr>
            </thead>
        </table>
    </div>
</div>