<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <title>Minerals</title>
    <script src="~/vendor/vendor.min.js" asp-append-version="true"></script>
    <link href="~/vendor/style.min.css" rel="stylesheet" asp-append-version="true" />
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="min-height:100px;">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
            <img src="~/images/favicon-32x32.png" class="d-inline-block align-top" alt="">
            The Minerals Application
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            @await Component.InvokeAsync(nameof(MenuComponent))
            @await Component.InvokeAsync(nameof(CurrentUserComponent))
        </div>
    </nav>
    @RenderBody()
    @await Component.InvokeAsync(nameof(SessionExpirationNotificationComponent))
</body>
</html>
