<div class="card">
    {{> ../../shared/cardheader}}
    <div class="card-body">
        <h3 class="card-title">Search Payment Uploads</h3>
        <div class="table-responsive">
            <table id="uploadPaymentsTable" class="display" style="width:100%;">
                <thead>
                    <tr>
                        <th></th>
                        <th>File</th>
                        <th>Template</th>
                        <th>Company</th>
                        <th>Upload Entry Date</th>
                        <th>Check</th>
                        <th>Total Amount</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>