{{#if this.isIE}}
<a tabindex="0" class="dt-button buttons-html5" id="enableAllBtn" aria-controls="TractsTable" href="#"><span>Enable All</span></a>
<a tabindex="0" class="dt-button buttons-html5" id="disableAllBtn" aria-controls="TractsTable" href="#"><span>Disable All</span></a>
{{else}}
<button class="dt-button buttons-html5 pl-2" id="enableAllBtn">Enable All</button>
<button class="dt-button buttons-html5 pl-2" id="disableAllBtn">Disable All</button>
{{/if}}
