<table id="historicalEventsTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>More Info</th>
            <th>Effective Date</th>
            <th>Lessee</th>
            <th>Reason</th>
            <th>Acreage Interest</th>
            <th>Percent Share</th>
            <th>Royalty Percent</th>
            <th>Current Total Acres</th>
            <th>Previous Total Acres</th>
        </tr>
    </thead>
</table>