<table id="mytable" class="display" style="width:100%">
    <thead>
        <tr>
            <th></th>
            {{#each this}}
            <th>{{this}}</th>
            {{/each}}
        </tr>
    </thead>
</table>