<table id="tractsTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Tract</th>
            <th>Acreage</th>
            <th>Reversion Dt</th>
            <th>Termination Dt</th>
            <th>Status</th>
            <th>Alt Name</th>
        </tr>
    </thead>
</table>