    <div class="card-header bg-light showMenuContainer">
        <div class="top-left">
            <button class="btn btn-sm btn-outline-dark faa-parent animated-hover showmenubtn"  type="button">
                <i class="fas fa-chevron-circle-right faa-horizontal"></i>
            </button>
        </div>
        <h3 class="pl-3"> <i class="fas fa-file-contract pr-2 fa-2x"></i>Contracts</h3>
    </div>