<div class="card">
    {{> ../../shared/cardheader}}
    <div class="card-body">
        <h3 class="card-title">Search Storage Field Payments</h3>
        <div class="table-responsive">
            <table id="storageFieldsTable" class="display" style="width:100%; font-size: 0.72em">
                <thead>
                    <tr>
                        <th></th>
                        <th>Contract</th>
                        <th>Field Name</th>
                        <th>Company</th>
                        <th>Payment</th>
                        <th>Payment Entry Dt</th>
                        <th>Check</th>
                        <th>Check Rcvd Dt</th>
                        <th>Lease Number</th>
                        <th>Lessee</th>
                        <th>Year</th>
                        <th>Period</th>
                        <th>Payment  Type</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>