<div class="card">
    {{> ../../shared/cardheader}}
    <div class="card-body">
        <h3 class="card-title">Search Other Payments</h3>
        <div class="table-responsive">
            <table id="otherPaymentsTable" class="display" style="width:100%; font-size: 0.72em">
                <thead>
                    <tr>
                        <th></th>
                        <th>Payment Type</th>
                        <th>Payment</th>
                        <th>Payment Entry Date</th>
                        <th>Check</th>
                        <th>Check Rcvd Date</th>
                        <th>Check Date</th>
                        <th>Lessee</th>
                        <th>Notes</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>