<div class="card">
    {{> ../../shared/cardheader}}
    <div class="card-body">
        <h3 class="card-title">Search Surety</h3>
        <table id="suretiesTable" class="display" style="width:100%; font-size: 0.8em;">
            <thead>
                <tr>
                    <th></th>
                    <th>Type</th>
                    <th>Surety Number</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Initial Value</th>
                    <th>Current Value</th>
                    <th>Issue Date</th>
                    <th>Released Date</th>
                    <th>Lessee / Operator</th>
                    <th>Insurer</th>
                    <th>Contract </th>
                    <th>Wells</th>
                </tr>
            </thead>
        </table>
    </div>
</div>